# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\chatFile\WeChat Files\wxid_dlf4lxdipprv12\FileStorage\File\2024-05\app_code\app_code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
